[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyfiglet = "*"
clint = "*"
click = "*"
termcolor = "*"
pyinquirer = "*"
sentry-sdk = "*"
black = "*"
openpyxl = "*"

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"
pytest-cov = "*"
coverage = "*"
pre-commit = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.8"
