[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyfiglet = "*"
clint = "*"
click = "*"
termcolor = "*"
pyinquirer = "*"
sentry-sdk = "*"

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
